body {
    background-image: url("https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    background-repeat: repeat;
    font-family: 'Pompiere', cursive;
  }
  .nav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 60px;
    line-height: 10px;
  }

  .nav-item {
      font-size: 25px;
  }

  .nav-link {
      color: black;
  }
  .myName {
    font-weight: bold;
  }

.card-body {
    margin: 20px
}

.mainbox {
    margin: 30px;
}

.container {
    margin-top: 50px;
}

.footer {
    background-color: white;
}

.bioP {
    font-size: 20px;
    text-align: left;
}

.card {
    box-shadow: 10px 10px 5px rgb(99, 112, 99, 0.5);
}

.profbox {
    margin-bottom: 100px;
}

a{
    color: black;
}

.card-title{
    text-align: center;
}

.mainTitle {
    text-align: left;
    font-size: 40px;
}

.MainName {
    text-align: center;
    margin: 20px;
    font-size: 35px;
}

.picMe {
    margin-top: 30px;
}

.Me{
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

.social{
    text-align: center;
}

p{
    text-align: center;
}